.subscribe-header {
  color: $white !important;
  margin-top: 20% !important;

  .sub.header {
    color: $lightgrey !important;
  }
}

.subscribe-button {
  margin-left: 20% !important;
  margin-top: 30px !important;
  width: 60%;
}

.subscribe-fixed-button {
  border-radius: 0 !important;
  position: absolute;
  top: 0;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}
