<div class="orange-background">
  <div class="ui red button left subscribe-fixed-button" ng-click="logout()">Logout</div>
  <div class="ui teal button right subscribe-fixed-button" ng-click="refreshUser()">Refresh</div>

  <h1 class="ui center aligned header subscribe-header">
    Subscribe to Continue
    <div class="sub header">Please subscribe to a paid plan to use the uploader</div>
  </h1>

  <div class="ui huge blue button subscribe-button" ng-click="openExternalSubscribe()">Subscribe now!</div>
</div>