.folder-structure {
  bottom: 40%;
  left: 0;
  position: fixed;
  right: 300px;
  top: 0;
  z-index: 3;
}

.upload-info {
  bottom: 40%;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 2;
}

.upload-queue {
  bottom: 0;
  height: 40%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}
