<div class="upload-queue-background">

  <div id="upload-queue" class="ui middle aligned animated selection list" ng-if="queuedUploads.length > 0">
    <div id="upload-queue-upload" class="item" ng-repeat="upload in queuedUploads track by upload.id" ng-class="{'selected': selectedUpload.id === upload.id}" ng-click="selectUpload(upload)">
      <div class="ui grid upload-grid">

        <div class="nine wide column">
          <div class="ui grey horizontal label" ng-if="upload.status === constants.statuses.queued">Queued</div>
          <div class="ui violet horizontal label" ng-if="upload.status === constants.statuses.transcoding">Transcoding...</div>
          <div class="ui purple horizontal label" ng-if="upload.status === constants.statuses.queuedUpload">Waiting to Upload</div>
          <div class="ui blue horizontal label" ng-if="upload.status === constants.statuses.uploading">Uploading...</div>
          <div class="ui green horizontal label" ng-if="upload.status === constants.statuses.finished"><i class="check icon"></i> Finished</div>
          <div class="ui orange horizontal label" ng-if="upload.status === constants.statuses.aborted">Aborted</div>
          <div class="ui red horizontal label" ng-if="upload.status === constants.statuses.error">Error</div>

          <span class="upload-queue-paths">
            {{upload.file.path}}
            <i class="arrow right icon"></i>
            {{upload | uploadNewFolderName | videoFolderName}}
          </span>
        </div>

        <div class="seven wide column">
          <div class="upload-queue-eta" ng-if="upload.eta">ETA: {{upload.eta | eta}}</div>
          <div class="ui active violet progress upload-queue-progress-bar" id="transcoding-{{upload.id}}" ng-if="upload.status === constants.statuses.transcoding">
            <div class="bar">
              <div class="progress"></div>
            </div>
          </div>
          <div class="ui active blue progress upload-queue-progress-bar" id="upload-{{upload.id}}" ng-if="upload.status === constants.statuses.uploading">
            <div class="bar">
              <div class="progress"></div>
            </div>
          </div>

          <div class="ui red right floated mini button" ng-if="upload.status === constants.statuses.queued || upload.status === constants.statuses.queuedUpload" ng-click="cancelUpload(upload)">Cancel</div>
          <div class="ui red right floated mini button" ng-if="upload.status === constants.statuses.transcoding" ng-click="abortTranscoding(upload)">Abort</div>
          <div class="ui red right floated mini button" ng-if="upload.status === constants.statuses.finished || upload.status === constants.statuses.aborted || upload.status === constants.statuses.error" ng-click="cancelUpload(upload)">Clear</div>
          <div class="ui right floated mini buttons" ng-if="upload.status === constants.statuses.uploading">
            <div class="ui yellow button" ng-if="!upload.paused" ng-click="pauseUpload(upload)">Pause</div>
            <div class="ui yellow button" ng-if="upload.paused" ng-click="resumeUpload(upload)">Resume</div>
            <div class="ui red button" ng-click="abortUpload(upload)">Abort</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="upload-queue-empty" class="ui center aligned icon header" ng-if="queuedUploads.length == 0">
    <i class="cloud upload icon"></i>
    <div class="content">
      Drag and Drop Videos or Folders Here to Upload Them
    </div>
  </div>

</div>