.upload-queue-background {
  background-color: $aqua-transparent;
  height: 100%;
  width: 100%;
}

#upload-queue {
  height: 100%;
  overflow-y: scroll;
}

#upload-queue-upload {
  border-radius: 0;
  color: $white-barely-transparent;

  &:hover {
    background-color: $black-overlay;
    color: $white;
  }

  &.selected {
    background-color: $black-overlay;
    color: $white;
  }
}

.upload-grid {
  width: calc(100% + 20px);
}

.upload-queue-paths {
  line-height: 20px;
  margin-bottom: 5px;
  overflow-x: hidden;
  word-wrap: break-word;
}

.upload-queue-label {
  margin-right: 10px !important;
  padding-top: 6px !important;
}

.upload-queue-progress {
  display: inline-flex;

  .progress .bar {
    font-size: 11px;
  }
}

.upload-queue-eta {
  display: inline-block;
  font-size: 12px;
  padding-top: 4px;
  vertical-align: top;
}

.upload-queue-progress-bar {
  display: inline-block !important;
  margin: 0 10px !important;
  width: calc(100% - 162px);
}

#upload-queue-empty {
  padding-top: 7%;
}

#upload-dimmer {
  z-index: 4;
}
