<div class="upload-info-background">
  <div ng-show="selectedUpload">
    <div class="ui header upload-info-white">{{selectedUpload.name | videoFolderName}}</div>
    <p>Local: {{selectedUpload.file.path | filePathFolder}}</p>
    <p>Path: {{"/" + selectedUpload.folder.path.join("/") | videoFolderName}}</p>
    <p>Size: {{selectedUpload.file.size | bytes}}
      <span ng-if="selectedUpload.newSize"> <i class="arrow right icon"></i> {{selectedUpload.newSize | bytes}}</span>
    </p>

    <div class="ui form" id="name-change-form" ng-show="selectedUpload.status !== constants.statuses.finished && selectedUpload.status !== constants.statuses.aborted && selectedUpload.status !== constants.statuses.error">
      <div class="field">
        <div class="ui action input">
          <input type="text" placeholder="New Name" maxlength="256" name="newName" ss-enter="changeName()">
          <div class="ui submit button" ng-click="changeName()" ng-class="{'loading': nameChangeLoading}">Submit</div>
        </div>
      </div>
      <div class="ui error message"></div>
    </div>

    <div class="ui fluid button" ng-click="updateFolder()" ng-if="selectedUpload.status !== constants.statuses.finished && selectedUpload.status !== constants.statuses.aborted && selectedUpload.status !== constants.statuses.error">Change upload path to current folder</div>
    <div class="ui negative message" ng-if="updateFolderError">Uh oh, something went wrong</div>

    <div id="upload-info-divider" class="ui hidden divider"></div>
    <div class="ui red fluid button" ng-if="selectedUpload.status === constants.statuses.queued || selectedUpload.status === constants.statuses.queuedUpload" ng-click="cancelUpload(selectedUpload)">Cancel</div>
    <div class="ui red fluid button" ng-if="selectedUpload.status === constants.statuses.transcoding" ng-click="abortTranscoding(selectedUpload)">Abort</div>
    <div class="ui red fluid button" ng-if="selectedUpload.status === constants.statuses.finished || selectedUpload.status === constants.statuses.aborted || selectedUpload.status === constants.statuses.error" ng-click="cancelUpload(selectedUpload)">Clear</div>
    <div class="ui fluid buttons" ng-if="selectedUpload.status === constants.statuses.uploading">
      <div class="ui yellow button" ng-if="!selectedUpload.paused" ng-click="pauseUpload(selectedUpload)">Pause</div>
      <div class="ui yellow button" ng-if="selectedUpload.paused" ng-click="resumeUpload(selectedUpload)">Resume</div>
      <div class="ui red button" ng-click="cancelUpload(selectedUpload)">Abort</div>
    </div>
  </div>

  <div id="upload-info-empty" class="ui center aligned icon header" ng-if="!selectedUpload">
    <i class="upload icon"></i>
    <div class="content">
      Select an Upload to Edit
    </div>
  </div>
</div>