.upload-info-background {
  background-color: $orange-transparent;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
  word-wrap: break-word;

  p {
    margin-bottom: 3px;
  }
}

.upload-info-white {
  color: $white !important;
}

#upload-info-divider {
  margin: 5px 0 !important;
}

#upload-info-empty {
  margin-top: 50%;
}
