#video-explorer {
  border-radius: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-bottom: 0;
  padding: 0 !important;
  position: relative;
}

#video-explorer-label {
  border-radius: 0 !important;
  padding-bottom: 3px;
  position: relative;
}

#video-explorer-list {
  flex: 1 1 auto;
  margin-top: 10px !important;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

.browse-breadcrumbs {
  display: inline-block;
  margin-bottom: 6px !important;
}

.browse-breadcrumbs-home {
  padding-bottom: 7px !important;
}

#breadcrumb.last {
  color: $black;
  cursor: default;
}

.folder-structure-size-remaining {
  float: right;
}

.folder-structure-size-progress {
  display: inline-block !important;
  margin: 0 !important;
  width: calc(100% - 82px);
}

#browse-loader {
  //margin-top: 100px;
}

#refresh-icon {
  float: right;
  margin-right: 0;
}

.video-name {
  width: 100%;
}

#video-context-menu,
#folder-context-menu,
#generic-context-menu {
  position: absolute;
}

#video-upload-header {
  margin-top: 0;
}

.progress-bar {
  margin-bottom: 0 !important;
}

#progress-full {
  width: 100%;
}

.wider-input {
  width: 300px;
}

#upload-button {
  transition: background-color 3s;
}

.upload-folder {
  color: $grey;
}
