<div class="orange-background">
  <div class="ui red button left subscribe-fixed-button" ng-click="logout()">Logout</div>
  <div class="ui teal button right subscribe-fixed-button" ng-click="refreshUser()">Refresh</div>

  <h1 class="ui center aligned header subscribe-header">
    Verify your Email to Continue
    <div class="sub header">Please verify your email address to continue</div>
  </h1>

  <div class="ui huge blue button subscribe-button" ng-click="openExternalVerify()">Request a new verification token online</div>
</div>