// Variables
$aqua: #129b80;
$aqua-transparent: rgba(18, 155, 128, .6);
$black: #000;
$black-overlay: rgba(0, 0, 0, .1);
$darkgrey: #525252;
$grey: #808080;
$lightgrey: #fafafa;
$link-blue: #0645ad;
$link-light-blue: #4183c4;
$orange: #f2711c;
$orange-transparent: rgba(242, 113, 28, .8);
$white: #fff;
$white-barely-transparent: rgba(255, 255, 255, .85);
$white-transparent: rgba(255, 255, 255, .75);
// ---------

.main-container {
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
}

.centered {
  text-align: center;
}

.orange-background {
  background-color: $orange;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
